.sobre {
  border-top: 2px solid var(--cor-bg-menu);
  border-bottom: 2px solid var(--cor-bg-menu);
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
}
.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}
.sobre-info h1 {
  font: 700 3rem/1;
  margin-bottom: .5rem;
}
.sobre-info p {
  font: 400 1.25rem/1.5;
  margin-bottom: 1rem;
  color: var(--cor-text-sobre);
}
.sobre-img {
  flex: 1 1 160px;
  margin: 0px 10px;
}