.newsletter {
  background-color: var(--cor1);
  padding: 60px;
  padding: calc((100% -960px) / 2);
  display: flex;
  flex-wrap: wrap;
}
.newsletter-info {
  flex: 1 1 240px;
  margin: 0 10px;
}
.newsletter-info h1 {
  font: 700 3rem/1.2 "Nunito", "sans-serif";
  color: var(--cor4);
}
.newsletter-info p {
  font: 400 1.25rem/1.4 "Nunito", "sans-serif";
  font-style: italic;
  max-width: 230px;
  color: var(--cor5);
  margin-bottom: 10px;
}
.newsletter-form {
  flex: 2 1 260px;
  margin: 0 10px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}
.newsletter-form input {
  flex: 3 1 200px;
  font: 400 1.25rem/1.4 "Nunito", "sans-serif";
  color: var(--cor-text-sobre);
  font-style: italic;
  border: 4px solid var(--cor2);
  background-color: transparent;
  padding: 15px 10px;
  margin: 0px;
  border-radius: 0px;
}
.newsletter-form button {
  flex: 1 1 260px;
  font: 700 2.25rem/1.4 "Nunito", "sans-serif";
  text-transform: uppercase;
  background-color: var(--cor2);
  color: #fff;
  margin: 0px;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}
@media (max-width: 600px) {
  .newsletter-form button {
    font-size: 1.5rem;
  }
}
