:root {
  --cor0: #ffffff;
  --cor1: #f7f7f7;
  --cor2: #2c70ff;
  --cor3: #122ab2;
  --cor4: #a4a4a4;
  --cor5: #7c7c7c;
  --cor6: #ae81ff;
  --cor7: #f9265e;
  --cor8: #66d9eb;
  --cor9: #222222;
}
