:root {
  --cor-padrao : #222;
  --cor-super-info: #122ab2;
  --cor-text-info: #ffffff;
  --cor-bg-menu: #2c70ff;
  --cor-text-sobre: #7c7c7c;
  --cor-text-produtos: #a4a4a4;
  --cor-bg-produtos: #f7f7f7;
  --cor-border-purple: #ae81ff;
  --cor-border-pink: #f9265e;
  --cor-border-blue: #66d9eb;
  }

